<!DOCTYPE html>
 <html>
  <head>
    <meta charset="UTF-8">
    <title> First Project </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='GirFavicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css"/>
  </head>
  <body>
    <div class="opening">
      <p class="intro">
        Truth Table Generator
      </p>
    </div>
    <div class="data_input">
      <form method="post">
        Table Values <input type="text" name="values">
        <input type="submit" name= "values" value="Submit"/>
      </form>
    </div>
    <br/>
      <table class="truth_table">
        <tr>
        {%for row in data%}
          <th>{{row}}</th>
        {%endfor%}
        </tr>
        {%for num in nums%}
        <tr>
          {%for key in data%}
            <td>{{table[key][num]}}</td>
          {%endfor%}
        </tr>
        {%endfor%}
      </table>
      <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
    <script type="text/javascript" src="/static/scripts/script.js"></script>
  </body>
 </html>
